---
interface Props {
  content: string;
  className?: string;
}

const { content = '', className = '' } = Astro.props

---

<span class={`${className}`}>
  {content}
</span>

<style>
  span {
    color: var(--color-section);
    font-weight: 700;
  }
</style>