---
import Section from "../components/Section.astro";

import Experience from "./Body/Experience.astro";
import Projects from "./Body/Projects.astro";

---
<Section section="body" tag="body">
  <Experience />
  <Projects />
</Section>