---
import Section from "../components/Section.astro";
import Social from "../components/Social.astro";
import Button from "../components/ui/Button.astro";
---

<Section  
  section="doctype"
  tag="DOCTYPE"
  className={`w-full h-[calc(100dvh-4rem)] place-content-center text-center 
  sm:h-auto`}
>
  <h1 class="text-center text-_step1 font-bold flex flex-col sm:hidden">
    <span class="font-light">Hola, mi nombre es</span>
    <span class="text-step2">Nestor Rojas</span>
    <div>
      <span class="text-greenColor">FrontEnd</span>
      -
      <span class="text-blueColor">Developer</span>
    </div>
  </h1>
  <Social className="justify-center my-1 mb-2 sm:hidden" />
  <Button color="white" className="text-_step2 block sm:hidden mx-auto px-0 py-0">
    <a 
      href="https://drive.google.com/file/d/19pFRDgq0KcfbPk2wL-u6IZxVrGV0rVaF/view?usp=drive_link" 
      class="block w-full h-full !px-0 !py-0"
      target="_blank"
      rel="noopener noreferrer"
    >
      Descarga mi curriculum
    </a>
  </Button>
  <span class="hidden sm:block text-right text-step1 font-bold">
    MI PORTFOLIO
  </span>
</Section>

<style></style>
