---
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Button from "../components/ui/Button.astro";
---

<Section section="footer" tag="footer">
  <footer>
    <Title title="Contacto" className="" />
    <form>
      <div class="group">
        <label for="name">
          <input type="text" name="name" id="name" required placeholder=" " />
          <span>Nombre Completo</span>
        </label>
        <label for="phone">
          <input type="tel" name="phone" id="phone" required placeholder=" " />
          <span>Telefono</span>
        </label>
      </div>
      <label for="email">
        <input type="email" name="email" id="email" required placeholder=" " />
        <span>Correo Electrónico</span>
      </label>
      <label for="message">
        <textarea name="message" id="message" required placeholder=" "
        ></textarea>
        <span>Mensaje</span>
      </label>
      <Button className="w-full max-w-60 py-1" type="submit"> Enviar </Button>
    </form>
  </footer>
</Section>

<style>
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 768px;
  }

  form textarea {
    resize: none;
  }

  form label {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    overflow: hidden;

    & span {
      position: absolute;
      padding-left: 2ch;
      left: 0;
      top: 0;
      bottom: 0;
      place-content: center;
      z-index: 10;
      color: var(--color-gray);
      transition: left 0.25s ease-in-out;
      white-space: nowrap;
    }

    input {
      width: 100%;
      overflow: hidden;
    }

    & input,
    textarea {
      flex-grow: 1;
      color: var(--color-black);
      padding: 5px;
      display: flex;
      align-items: center;
      border: 0;
      outline: 0;
      transition: left 0.3s ease-out;

      &:focus + span,
      &:not(:placeholder-shown) + span,
      &:valid + span {
        left: 100%;
      }
    }

    &::before {
      content: "<";
      z-index: 10;
    }
    &::after {
      content: "/>";
      z-index: 10;
    }
  }

  form .group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    form .group {
      flex-wrap: nowrap;
      gap: 0.5rem;
    }
  }
</style>

<script type="module">
  //function initContactForm() {
  console.log("Inicio formulario")
  const $form = document.querySelector("form");

  async function sendEmail(content) {
    try {
      const response = await fetch(
        "https://formsubmit.co/ajax/nestorignaciorg@gmail.com",
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify(content),
        }
      );

      if (!response.ok) throw new Error("Ocurrio un error al enviar el correo");
      // const response = await new Promise((resolve) => {
      //   setTimeout(()=>{
      //     resolve({
      //       json: () => Promise.resolve(JSON.stringify({message: "ok"})),
      //       ok:true
      //   })
      //   },1000)
      // })
      // console.log(response);
      

      const data = await response.json();
      return {
        data,
        ok: true,
      };
    } catch (error) {
      return {
        ok: false,
        message: error.message,
      };
    }
  }

  const handleToast = ({ content }) => {
    const customEvent = new CustomEvent("show-toast", {
      detail: { content },
    });
    console.log('llamando al toast');
    
    window.dispatchEvent(customEvent);
  };

  const $button = document.querySelector("button[type=submit]");

  $form.addEventListener("submit", async (e) => {
    e.preventDefault();
    // console.log("form");

    const form = new FormData(e.target);
    const data = Object.fromEntries(form.entries());

    $button.disabled = true;
    const response = await sendEmail(data);
    const message = response.ok
      ? "¡Gracias por tu mensaje! Te respondere lo antes posible."
      : response.message;

    $button.disabled = false;
    e.target.reset();
    return handleToast({
      content: message,
    });
  });
  //}

  //  document.addEventListener("astro:page-load", initContactForm);
</script>
