---
---

<header class="flex justify-between font-bold">
  <h1 class="text-greenColor">NIRODEV</h1>
  <button onclick="window.history.back()" id="back"
  class="text-blueColor">Volver</button>
</header>